.forecast-container
{
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.box1 {
    margin: 40px;
}

.box1 img{
    width: 50px;
  
  
}

span{
    font-size: 15px;
    margin: 2px;
}

.min{
color: rgb(151, 123, 89);
}
.max
{
    color: black;
   
}
.load{
    text-align: center;
}